bcrypt<5.0.0
fastapi
sqlmodel
uvicorn
transformers
openai
marisa-trie
numpy
joblib
regex
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-multipart
jiwer
numpy
scipy
sqlalchemy
panflute
pypandoc
tqdm
distance
apted
lxml
rust-fst